
.app-container {
    /* Your styles for the app container */
  }
  
  .pokemon-container {
    /* Your styles for the pokemon container */
  }
  
  .all-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); /* Define the grid columns with minimum width of 150px */
    gap: 1rem; /* Define the gap between grid items */  
  }
  .pokemon-grid {
    
  }
  
  .load-more {
    /* Your styles for the load more button */
  }
  